

/* VIRABLES
-------------------------------*/

$z-index-1000:1000;
$pos-fixed: fixed;
$dsp-flx:flex;
$dsp-none:none;
$flx-center: center;
$color-white:#fff;
$color-black:#000;
$marg-40:40px;



/*MIXIN TO SET MODAL POSITION OFFSET*/

@mixin modal-pos-offset {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

/* MODAL STYLES
-------------------------------*/

app-modal {
    /* modals are hidden by default */
    display: $dsp-none;
}
.modal {
    /* z-index must be higher than .jw-modal-background */
    z-index:$z-index-1000;

    // center the modal
    overflow: auto;
    display: $dsp-flx;
    flex-flow:column nowrap; /*Add this */
    justify-content: $flx-center;
    align-items: $flx-center;
    /* modal position fixed */
    position: $pos-fixed;
    @include modal-pos-offset;

    &-body {
        padding: 20px;
        background: $color-white;
        border-radius:.5em;
        /* margin exposes part of the modal background */
        margin: $marg-40;
    }
    &-background {
        /* semi-transparent black  */
        background-color: $color-black;
        opacity: 0.75;
        /* z-index must be below .modal and above everything else  */
        z-index: $z-index-1000 - 100;
         /*modal background position fixed*/
         position: $pos-fixed;
        @include modal-pos-offset;
        }
    }

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
